.container {
  max-width: 1400px !important;
}

.connected-steps {
  display: flex;
  width: 100%;
  align-items: center;
}

.step {
  color: white;
  background-color: lightgray;
  display: block;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
}

.connector {
  flex-grow: 1;
  width: 10px;
  content: "";
  display: block;
  height: 1px;
  background-color: lightgray;
}

#textRotate {
  /* -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); */
}
